# ML Pipeline Preparation

### 1. Import libraries and load data from database.
- Import Python libraries
- Load dataset from database
- Plot data set using plotly

In [89]:
# import libraries
import pandas as pd
import numpy as np
import sqlite3
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
%matplotlib inline
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import GridSearchCV
from sklearn.datasets import make_multilabel_classification
from sklearn.multioutput import MultiOutputClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report


# nltk.download(['punkt', 'wordnet'])

In [90]:
# load data from database
engine = create_engine('sqlite:///InsertDatabaseNamemovie_list.db')
df = pd.read_sql_table("new_movie", con=engine)

In [91]:
# load data from database
engine = create_engine('sqlite:///InsertDatabaseNamemovies_plotly.db')
dfplotly = pd.read_sql_table("moviesplotly", con=engine)

In [92]:
df.head(2)

,movie_id,title,tags
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha..."

In [93]:
dfplotly.head(5)

,movie_id,title,budget,popularity,runtime,vote_average,vote_count,revenue
0,19995,Avatar,237000000,150.437577,162.0,7.2,11800,2787965087
1,285,Pirates of the Caribbean: At World's End,300000000,139.082615,169.0,6.9,4500,961000000
2,206647,Spectre,245000000,107.376788,148.0,6.3,4466,880674609
3,49026,The Dark Knight Rises,250000000,112.312950,165.0,7.6,9106,1084939099
4,49529,John Carter,260000000,43.926995,132.0,6.1,2124,284139100

In [94]:
dfplotly1=dfplotly.iloc[:100,:]

In [95]:
dfplotlytitle=dfplotly1['title']

In [96]:
X = df['revenue']
Y = df.iloc[:, :-1]

In [97]:
# dfplotlytitle.tolist()

In [98]:
dfplotly1.head()

,movie_id,title,budget,popularity,runtime,vote_average,vote_count,revenue
0,19995,Avatar,237000000,150.437577,162.0,7.2,11800,2787965087
1,285,Pirates of the Caribbean: At World's End,300000000,139.082615,169.0,6.9,4500,961000000
2,206647,Spectre,245000000,107.376788,148.0,6.3,4466,880674609
3,49026,The Dark Knight Rises,250000000,112.312950,165.0,7.6,9106,1084939099
4,49529,John Carter,260000000,43.926995,132.0,6.1,2124,284139100

In [ ]:
import dash
import dash_core_components as dcc
import dash_html_components as html
import plotly.express as px
import pandas as pd


app = dash.Dash(__name__)

df = dfplotly1
fig = px.scatter(df, x="movie_id", y="budget",
                 size="vote_count", color="vote_average", hover_name="revenue",
                 log_x=True, size_max=60)

app.layout = html.Div([
    dcc.Graph(
        id='life-exp-vs-gdp',
        figure=fig
    )
])

app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

In [69]:
# import dash
# import dash_html_components as html
# import pandas as pd

# df = dfplotly1

# def generate_table(dataframe, max_rows=10):
#     return html.Table([
#         html.Thead(
#             html.Tr([html.Th(col) for col in dataframe.columns])
#         ),
#         html.Tbody([
#             html.Tr([
#                 html.Td(dataframe.iloc[i][col]) for col in dataframe.columns
#             ]) for i in range(min(len(dataframe), max_rows))
#         ])
#     ])


# app = dash.Dash(__name__)

# app.layout = html.Div([
#     html.H4(children='Movie Dataset analysis'),
#     generate_table(df)
# ])

# app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

In [67]:

# import dash
# import dash_core_components as dcc
# import dash_html_components as html
# import plotly.express as px
# import pandas as pd

# app = dash.Dash(__name__)

# # assume you have a "long-form" data frame
# # see https://plotly.com/python/px-arguments/ for more options
# df = dfplotly1

# fig = px.bar(df, x="title", y="revenue", color="budget", barmode="group")

# app.layout = html.Div(children=[
#     html.H1(children='Movie Dash'),

#     html.Div(children='''
#         Dash: A web application framework for your data.
#     '''),

#     dcc.Graph(
#         id='example-graph',
#         figure=fig
#     )
# ])

# app.run_server()

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

Dash is running on http://127.0.0.1:8050/

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:8050/ (Press CTRL+C to quit)
127.0.0.1 - - [18/Nov/2021 14:30:52] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [18/Nov/2021 14:30:52] "GET /_dash-layout HTTP/1.1" 200 -
127.0.0.1 - - [18/Nov/2021 14:30:52] "GET /_dash-dependencies HTTP/1.1" 200 -
127.0.0.1 - - [18/Nov/2021 14:30:52] "GET /_dash-component-suites/dash/dcc/async-graph.js HTTP/1.1" 200 -
127.0.0.1 - - [18/Nov/2021 14:30:52] "GET /_dash-component-suites/dash/dcc/async-plotlyjs.js HTTP/1.1" 200 -